.fondo{
    height: 500px;
    width: 100%;
    
    
    }
    .boton{
        background-color: rgba(7, 13, 89, 1);
    ;
        padding: 10px 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 40px;
        border-radius: 15px;
        color: white;
    }

    .mat-card-con {
        max-width: 600px;
        margin:25px;
    }
    