<mat-grid-list cols="2" rowHeight="2:1">
<mat-card class="mat-card-con">
   <mat-card-title>Empezar es Sencillo</mat-card-title>
   <mat-card-content>
      Para empezar a utilizar ClipMoney solo debes darle al boton de registrar
      <mat-divider></mat-divider>
   </mat-card-content>
   <mat-card-content> 
      Completar el formulario con tus datos
      <mat-divider></mat-divider>
   </mat-card-content>
      <mat-card-content>
         y Listo ! ya podes empezar a disfrutar!
         <mat-divider></mat-divider>
      </mat-card-content>
   <mat-card-actions>


      <button mat-raised-button color="primary"  routerLink="/login">Iniciar Sesion</button>

      <button mat-raised-button color="primary" routerLink="/register">Registrarse</button>

      

   </mat-card-actions>

</mat-card>
</mat-grid-list>

   
     

     

  

