<mat-card>
<mat-card-title>Transferencias</mat-card-title>

<mat-form-field appearance="fill" class="separator">
    <mat-label>CVU DESTINO</mat-label>
    <input matInput type="number">
</mat-form-field>

<mat-form-field appearance="fill" class="separator">
    <mat-label>Monto(ARS)</mat-label>
    <input matInput type="number">
</mat-form-field>


<mat-form-field appearance="fill" class="separator">
    <mat-label>Descripcion</mat-label>
    <input matInput type="text">
</mat-form-field>

<mat-card-actions>
<button mat-raised-button color="primary">Transferir</button>
</mat-card-actions>

</mat-card>