<mat-card>
    <mat-card-title>Depositar/Extraer</mat-card-title>
    <h2>Saldo:</h2>
    <mat-form-field appearance="fill" class="separator">
    <input matInput type="number">
</mat-form-field>


<mat-card-actions>  
    <button mat-raised-button color="primary">Depositar</button>
</mat-card-actions>

<mat-card-actions> 
    <button mat-raised-button color="primary">Extraer</button>
</mat-card-actions>

<mat-card-actions>

    <button  mat-raised-button color="primary"routerLink="/TarjetaCuenta">Volver a Home</button>

</mat-card-actions>


</mat-card>