<app-navsup></app-navsup>


<h2><b>ARS/Peso Argentino</b></h2>

<div class="contieneSaldo">
    <p>Saldo:</p>

    <h1>$12500</h1> <!-- CAMBIAR POR SALDO REAL -->

    <div class="contieneBotones">
        <button class="buton">
            Ingresar
        </button>
        <button class="buton">
            Extraer
        </button>
    </div>


    
    <div class="contieneMovimientos">
         <h3>Ultimos Movimientos</h3>
    </div>
    
    <div class="contieneCVU">
         <h3>Datos CVU</h3>
    </div>
    
    <div style="text-align: center;">
        <button routerLink="/transfer" id="transferir" class="buton">
            Transferir
        </button>
    </div>
    

</div>
<app-footer></app-footer>

