<app-navsup></app-navsup>
<mat-card>

    <mat-card-title>CUENTA ARS </mat-card-title>
    <mat-card-title>SALDO </mat-card-title>

    <mat-card-actions>
        <button  mat-raised-button color="primary"routerLink="/ModificarDatos">Modificar Datos</button>
        <button  mat-raised-button color="primary"routerLink="/ultimosMovimientos">Ultimos Movimientos</button>
    </mat-card-actions>



    <mat-card-actions>
    <button  mat-raised-button color="primary"routerLink="/transferencias">Transferencias</button>
     <button  mat-raised-button color="primary"routerLink="/extracciones">Extracciones</button>
    </mat-card-actions>

    <mat-card-actions>
        <button  mat-raised-button color="primary"routerLink="/giros">Giros</button>
    </mat-card-actions>
</mat-card>