<app-navsup></app-navsup>
<div>
    <h2>iniciar sesion</h2>

    <form action="">
        <h3 class="txt" id="usuario">usuario :</h3>
        <input type="text"><br>
        <h3 class="txt">contaseña :</h3>
        <input type="text" class="contraseña"><br>
        <h3>¿olvido su contraseña?</h3>
        <h3>¿no tiene cuenta?</h3>
        <a href="/register"><h3>registrate</h3></a>

        <button type="button" routerLink="/wallet" class="buton"> iniciar sesion </button>



    </form>


</div>
<app-footer></app-footer>