*{
    font-family: 'Montserrat', sans-serif;
}
h2{
    text-align: center;
    margin-top: 50px;
}
.contieneSaldo{
    border: 3px #1F3C88 solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.contieneSaldo h1{
    text-align: center;
}
.contieneSaldo p{
    margin-left: 25px;
    margin-top: 25px;
}
.contieneBotones{
    margin-top: 25px;
    padding-bottom:15px ;
    text-align: center;
  
}

.buton{
    
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background: #070D59;
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin: 15px;

}