<app-navsup></app-navsup>
<div>
    <h2>Registro</h2>
    <form action="">
        <h3>Usuario :</h3>
        <input type="text"><br>
        <h3>Contaseña :</h3>
        <input type="text" ><br>
        <h3>Repetir<br> contraseña :</h3>
        <input type="text"><br>
        <h3>email :</h3>
        <input type="email"><br>

        <h3>Frente y Dorso DNI</h3>
        <div class="fotos">

        </div>
        <div class="lan">
        <h5 class="las">Al registrarte, aceptas nuestras<br> Condiciones de uso y Política de <br>privacidad.</h5>
        
        <input type="checkbox" name="" id="terminos">
        </div>

        <button type="button" class="buton">iniciar sesion</button>
    </form>


</div>
<app-footer></app-footer>