<mat-card>
    <mat-card-title>Solicitar Giro Descubierto</mat-card-title>
    
    <mat-form-field appearance="fill" class="separator">
        <mat-label>Monto a solicitar</mat-label>
        <input matInput type="number">
    </mat-form-field>

    <mat-card-actions>  
        <button mat-raised-button color="primary">Solicitar Giro Descubierto</button>
    </mat-card-actions>


    <mat-card-actions>
        <button  mat-raised-button color="primary"routerLink="/TarjetaCuenta">Volver a Home</button>

    </mat-card-actions>

</mat-card>