*{
    padding: 0;
    margin: 0;
}


.navtop{

border-top: solid;
border-top-width: 9px;
border-bottom: solid;
border-color:rgba(7, 13, 89, 1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: center;

}

.a{
    text-align: center;
    
    display:inline-block;
    /*margin-right: 100px;*/
    /*background-color: cadetblue;*/

}

.logo{
    height: 25px;
    width:  25px;
    margin-right: 10px;
}

h1{
    padding: 50px 0px;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menuContainer{
    /*min-height: 100vh;*/
    padding-top: 8px;
    
    /*background-color: chocolate;*/
    display: inline;
    float: right;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    /*
    float: right;
    display: inline;
    justify-content: center;
    align-items: center;*/
  
}

.menuIcon{
    position: relative;
    width: 30px;
    height: 30px;
}

.menuIcon span{
    display: block;
    width: 100%;
    height: .2rem;
    background-color: black;
    border-radius: 16px;
    position: absolute;
    transform: rotate(0deg);
    transition: all .25s;
    transform-origin: left center;
    will-change: transform,opacity;
}

.menuIcon span:nth-child(1){
    top: 0;
}
.menuIcon span:nth-child(2){
    top: 9px;
}
.menuIcon span:nth-child(3){
    top: 18px;
}


.mLink:hover span,
.mLink:hover span,
.mLink:hover span{
    background-color: black;
}

.menuIcon.active span:nth-child(1){
    transform: rotate(45deg);
    top: 1px;
    left: 2px;
}
.menuIcon.active span:nth-child(2){
    opacity: 0;
}
.menuIcon.active span:nth-child(3){
    transform: rotate(-45deg);
    top: 22px;
    left: 2px;
}