*{
    font-family: 'Montserrat', sans-serif;
}
h2{
    text-align: center;
    margin-top: 50px;
}
.contieneSaldo{
    border: 3px #1F3C88 solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.contieneSaldo label{
    display: inline-block;
    width: 15%;
    margin-top: 15px;
    margin-left: 15px;
}
.temainput{
    display: inline-block;
    background: #F6F5F5;
    border: 3px solid #070D59;
    border-radius: 15px;
    margin-left: 55px;
    margin-bottom: 15px;
    width: 50vw;
}
.temainput , ::placeholder{
    text-align: center;
}